body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:736px;
}
#u3617 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:736px;
}
#u3618 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u3619 {
  position:absolute;
  left:68px;
  top:109px;
  width:333px;
  height:592px;
}
#u3620 {
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3621 {
  position:absolute;
  left:515px;
  top:116px;
  width:120px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3622 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u3623 {
  position:absolute;
  left:475px;
  top:110px;
  width:25px;
  height:33px;
}
#u3624 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3625 {
  position:absolute;
  left:475px;
  top:160px;
  width:663px;
  height:69px;
}
#u3626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u3626 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u3627 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u3628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u3628 {
  position:absolute;
  left:163px;
  top:0px;
  width:116px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3629 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u3630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:34px;
}
#u3630 {
  position:absolute;
  left:279px;
  top:0px;
  width:189px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3631 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u3632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u3632 {
  position:absolute;
  left:468px;
  top:0px;
  width:190px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3633 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u3634 {
  position:absolute;
  left:0px;
  top:34px;
  width:163px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3635 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u3636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u3636 {
  position:absolute;
  left:163px;
  top:34px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3637 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u3638 {
  position:absolute;
  left:279px;
  top:34px;
  width:189px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3639 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3640 {
  position:absolute;
  left:468px;
  top:34px;
  width:190px;
  height:30px;
}
#u3641 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
