body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:736px;
}
#u2951 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:736px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u2953 {
  position:absolute;
  left:68px;
  top:109px;
  width:333px;
  height:592px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2955 {
  position:absolute;
  left:515px;
  top:116px;
  width:120px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u2957 {
  position:absolute;
  left:475px;
  top:110px;
  width:25px;
  height:33px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959 {
  position:absolute;
  left:475px;
  top:160px;
  width:663px;
  height:69px;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u2962 {
  position:absolute;
  left:163px;
  top:0px;
  width:116px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2963 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:34px;
}
#u2964 {
  position:absolute;
  left:279px;
  top:0px;
  width:189px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2965 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u2966 {
  position:absolute;
  left:468px;
  top:0px;
  width:190px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2967 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:34px;
  width:163px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2969 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2970 {
  position:absolute;
  left:163px;
  top:34px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2971 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u2972 {
  position:absolute;
  left:279px;
  top:34px;
  width:189px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2973 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u2974 {
  position:absolute;
  left:468px;
  top:34px;
  width:190px;
  height:30px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
