body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u281 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u282 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u283 {
  position:absolute;
  left:475px;
  top:50px;
  width:375px;
  height:667px;
}
#u284 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
