body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1282.2px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:736px;
}
#u1146 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:736px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u1148 {
  position:absolute;
  left:68px;
  top:109px;
  width:333px;
  height:592px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150 {
  position:absolute;
  left:475px;
  top:160px;
  width:793px;
  height:374px;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u1153 {
  position:absolute;
  left:136px;
  top:0px;
  width:122px;
  height:33px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1155 {
  position:absolute;
  left:258px;
  top:0px;
  width:134px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1156 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:33px;
}
#u1157 {
  position:absolute;
  left:392px;
  top:0px;
  width:242px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1158 {
  position:absolute;
  left:2px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:33px;
}
#u1159 {
  position:absolute;
  left:634px;
  top:0px;
  width:154px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1160 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1161 {
  position:absolute;
  left:0px;
  top:33px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1162 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1163 {
  position:absolute;
  left:136px;
  top:33px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1164 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1165 {
  position:absolute;
  left:258px;
  top:33px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1166 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1167 {
  position:absolute;
  left:392px;
  top:33px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1168 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1169 {
  position:absolute;
  left:634px;
  top:33px;
  width:154px;
  height:30px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:63px;
  width:136px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1172 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u1173 {
  position:absolute;
  left:136px;
  top:63px;
  width:122px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1174 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u1175 {
  position:absolute;
  left:258px;
  top:63px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1176 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u1177 {
  position:absolute;
  left:392px;
  top:63px;
  width:242px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1178 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u1179 {
  position:absolute;
  left:634px;
  top:63px;
  width:154px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1180 {
  position:absolute;
  left:2px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:103px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1182 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:136px;
  top:103px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1184 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:258px;
  top:103px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1186 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:392px;
  top:103px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1188 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1189 {
  position:absolute;
  left:634px;
  top:103px;
  width:154px;
  height:30px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:133px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1193 {
  position:absolute;
  left:136px;
  top:133px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1194 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:258px;
  top:133px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1196 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1197 {
  position:absolute;
  left:392px;
  top:133px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1198 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1199 {
  position:absolute;
  left:634px;
  top:133px;
  width:154px;
  height:30px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:163px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1202 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1203 {
  position:absolute;
  left:136px;
  top:163px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1204 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1205 {
  position:absolute;
  left:258px;
  top:163px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1206 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1207 {
  position:absolute;
  left:392px;
  top:163px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1208 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1209 {
  position:absolute;
  left:634px;
  top:163px;
  width:154px;
  height:30px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:58px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:193px;
  width:136px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1212 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u1213 {
  position:absolute;
  left:136px;
  top:193px;
  width:122px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:58px;
}
#u1215 {
  position:absolute;
  left:258px;
  top:193px;
  width:134px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1216 {
  position:absolute;
  left:2px;
  top:21px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:58px;
}
#u1217 {
  position:absolute;
  left:392px;
  top:193px;
  width:242px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:238px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u1219 {
  position:absolute;
  left:634px;
  top:193px;
  width:154px;
  height:58px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:251px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1223 {
  position:absolute;
  left:136px;
  top:251px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1224 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1225 {
  position:absolute;
  left:258px;
  top:251px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1226 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1227 {
  position:absolute;
  left:392px;
  top:251px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1228 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1229 {
  position:absolute;
  left:634px;
  top:251px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1230 {
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:58px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:281px;
  width:136px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
#u1233 {
  position:absolute;
  left:136px;
  top:281px;
  width:122px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1234 {
  position:absolute;
  left:2px;
  top:20px;
  width:118px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:58px;
}
#u1235 {
  position:absolute;
  left:258px;
  top:281px;
  width:134px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1236 {
  position:absolute;
  left:2px;
  top:21px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:58px;
}
#u1237 {
  position:absolute;
  left:392px;
  top:281px;
  width:242px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1238 {
  position:absolute;
  left:2px;
  top:2px;
  width:238px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u1239 {
  position:absolute;
  left:634px;
  top:281px;
  width:154px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1240 {
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:339px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1242 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1243 {
  position:absolute;
  left:136px;
  top:339px;
  width:122px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1244 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1245 {
  position:absolute;
  left:258px;
  top:339px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1246 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u1247 {
  position:absolute;
  left:392px;
  top:339px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1248 {
  position:absolute;
  left:2px;
  top:6px;
  width:238px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1249 {
  position:absolute;
  left:634px;
  top:339px;
  width:154px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1250 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF6699;
}
#u1251 {
  position:absolute;
  left:515px;
  top:116px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF6699;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u1253 {
  position:absolute;
  left:475px;
  top:110px;
  width:25px;
  height:33px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u1255 {
  position:absolute;
  left:475px;
  top:590px;
  width:333px;
  height:592px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257 {
  position:absolute;
  left:1250px;
  top:244px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
  text-align:center;
}
#u1257_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u1257_seg1 {
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:522px;
}
#u1257_seg2 {
  position:absolute;
  left:-434px;
  top:510px;
  width:467px;
  height:8px;
}
#u1257_seg3 {
  position:absolute;
  left:-434px;
  top:510px;
  width:8px;
  height:8px;
}
#u1257_seg4 {
  position:absolute;
  left:-440px;
  top:500px;
  width:20px;
  height:20px;
}
#u1258 {
  position:absolute;
  left:-21px;
  top:466px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
