body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:736px;
}
#u3665 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:736px;
}
#u3666 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:592px;
}
#u3667 {
  position:absolute;
  left:68px;
  top:109px;
  width:333px;
  height:592px;
}
#u3668 {
  position:absolute;
  left:2px;
  top:288px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669 {
  position:absolute;
  left:481px;
  top:171px;
  width:793px;
  height:108px;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u3670 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u3671 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
}
#u3672 {
  position:absolute;
  left:136px;
  top:0px;
  width:117px;
  height:33px;
}
#u3673 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u3674 {
  position:absolute;
  left:253px;
  top:0px;
  width:140px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3675 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u3676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:33px;
}
#u3676 {
  position:absolute;
  left:393px;
  top:0px;
  width:242px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3677 {
  position:absolute;
  left:2px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
}
#u3678 {
  position:absolute;
  left:635px;
  top:0px;
  width:153px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3679 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u3680 {
  position:absolute;
  left:0px;
  top:33px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3681 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u3682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u3682 {
  position:absolute;
  left:136px;
  top:33px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3683 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3684 {
  position:absolute;
  left:253px;
  top:33px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3685 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
}
#u3686 {
  position:absolute;
  left:393px;
  top:33px;
  width:242px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3687 {
  position:absolute;
  left:2px;
  top:6px;
  width:238px;
  word-wrap:break-word;
}
#u3688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u3688 {
  position:absolute;
  left:635px;
  top:33px;
  width:153px;
  height:30px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:63px;
  width:136px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3691 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u3692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u3692 {
  position:absolute;
  left:136px;
  top:63px;
  width:117px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3693 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u3694 {
  position:absolute;
  left:253px;
  top:63px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3695 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u3696 {
  position:absolute;
  left:393px;
  top:63px;
  width:242px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3697 {
  position:absolute;
  left:2px;
  top:11px;
  width:238px;
  word-wrap:break-word;
}
#u3698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u3698 {
  position:absolute;
  left:635px;
  top:63px;
  width:153px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3699 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3700 {
  position:absolute;
  left:515px;
  top:116px;
  width:91px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u3702 {
  position:absolute;
  left:475px;
  top:110px;
  width:25px;
  height:33px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
