body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:664px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:145px;
  width:569px;
  height:118px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:33px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u3 {
  position:absolute;
  left:139px;
  top:0px;
  width:122px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:33px;
}
#u5 {
  position:absolute;
  left:261px;
  top:0px;
  width:303px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:33px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u9 {
  position:absolute;
  left:139px;
  top:33px;
  width:122px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u11 {
  position:absolute;
  left:261px;
  top:33px;
  width:303px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:299px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:73px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u15 {
  position:absolute;
  left:139px;
  top:73px;
  width:122px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u17 {
  position:absolute;
  left:261px;
  top:73px;
  width:303px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:299px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u19 {
  position:absolute;
  left:100px;
  top:100px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
