body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1207px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3874 {
  position:absolute;
  left:40px;
  top:93px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3875 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3876 {
  position:absolute;
  left:280px;
  top:93px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3877 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3878 {
  position:absolute;
  left:520px;
  top:93px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3879 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3880 {
  position:absolute;
  left:40px;
  top:173px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3881 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3882 {
  position:absolute;
  left:520px;
  top:173px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3883 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3884 {
  position:absolute;
  left:280px;
  top:243px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3885 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3886 {
  position:absolute;
  left:280px;
  top:313px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3887 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3888 {
  position:absolute;
  left:280px;
  top:383px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3889 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3890 {
  position:absolute;
  left:280px;
  top:453px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3891 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3892 {
  position:absolute;
  left:280px;
  top:523px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3893 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3894 {
  position:absolute;
  left:280px;
  top:593px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3895 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3896 {
  position:absolute;
  left:520px;
  top:523px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3897 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3898 {
  position:absolute;
  left:40px;
  top:663px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3899 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3900 {
  position:absolute;
  left:40px;
  top:733px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3901 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3902 {
  position:absolute;
  left:520px;
  top:663px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3903 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3904 {
  position:absolute;
  left:520px;
  top:733px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3905 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3906 {
  position:absolute;
  left:520px;
  top:803px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3907 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u3908 {
  position:absolute;
  left:340px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3908_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3908_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3909 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910 {
  position:absolute;
  left:160px;
  top:193px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3910_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u3910_seg1 {
  position:absolute;
  left:347px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3911 {
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912 {
  position:absolute;
  left:580px;
  top:213px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3912_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u3912_seg1 {
  position:absolute;
  left:-244px;
  top:10px;
  width:248px;
  height:8px;
}
#u3912_seg2 {
  position:absolute;
  left:-244px;
  top:10px;
  width:8px;
  height:20px;
}
#u3912_seg3 {
  position:absolute;
  left:-250px;
  top:17px;
  width:20px;
  height:20px;
}
#u3913 {
  position:absolute;
  left:-171px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914 {
  position:absolute;
  left:340px;
  top:353px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3914_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3914_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3915 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916 {
  position:absolute;
  left:340px;
  top:423px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3916_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3916_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3917 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918 {
  position:absolute;
  left:340px;
  top:493px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3918_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3918_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3919 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920 {
  position:absolute;
  left:400px;
  top:543px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3920_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u3920_seg1 {
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3921 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922 {
  position:absolute;
  left:340px;
  top:563px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3922_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3922_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3923 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924 {
  position:absolute;
  left:160px;
  top:753px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3924_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u3924_seg1 {
  position:absolute;
  left:347px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3925 {
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926 {
  position:absolute;
  left:580px;
  top:773px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u3926_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3926_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3927 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3928 {
  position:absolute;
  left:241px;
  top:295px;
  width:200px;
  height:213px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:98px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3930 {
  position:absolute;
  left:213px;
  top:382px;
  width:57px;
  height:34px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6699;
}
#u3932 {
  position:absolute;
  left:228px;
  top:389px;
  width:29px;
  height:20px;
  color:#FF6699;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3934 {
  position:absolute;
  left:760px;
  top:93px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3935 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3936 {
  position:absolute;
  left:760px;
  top:173px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3937 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3938 {
  position:absolute;
  left:760px;
  top:243px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3939 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3940 {
  position:absolute;
  left:760px;
  top:593px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3941 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3942 {
  position:absolute;
  left:760px;
  top:663px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3943 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3944 {
  position:absolute;
  left:760px;
  top:733px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3945 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u3946 {
  position:absolute;
  left:760px;
  top:803px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u3947 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3948 {
  position:absolute;
  left:760px;
  top:576px;
  width:200px;
  height:1px;
}
#u3949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3950 {
  position:absolute;
  left:760px;
  top:163px;
  width:200px;
  height:1px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:191px;
}
#u3952 {
  position:absolute;
  left:932px;
  top:163px;
  width:1px;
  height:190px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:87px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:191px;
}
#u3954 {
  position:absolute;
  left:932px;
  top:387px;
  width:1px;
  height:190px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:87px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  position:absolute;
  left:889px;
  top:359px;
  width:71px;
  height:20px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3958 {
  position:absolute;
  left:1010px;
  top:93px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3959 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3960 {
  position:absolute;
  left:1010px;
  top:183px;
  width:197px;
  height:20px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  position:absolute;
  left:1010px;
  top:253px;
  width:71px;
  height:20px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3964 {
  position:absolute;
  left:1010px;
  top:603px;
  width:155px;
  height:20px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3966 {
  position:absolute;
  left:1010px;
  top:673px;
  width:197px;
  height:20px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3968 {
  position:absolute;
  left:1010px;
  top:743px;
  width:169px;
  height:20px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3970 {
  position:absolute;
  left:1010px;
  top:813px;
  width:155px;
  height:20px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3972 {
  position:absolute;
  left:340px;
  top:633px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u3972_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u3972_seg1 {
  position:absolute;
  left:-244px;
  top:10px;
  width:248px;
  height:8px;
}
#u3972_seg2 {
  position:absolute;
  left:-244px;
  top:10px;
  width:8px;
  height:20px;
}
#u3972_seg3 {
  position:absolute;
  left:-250px;
  top:17px;
  width:20px;
  height:20px;
}
#u3973 {
  position:absolute;
  left:-171px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3974 {
  position:absolute;
  left:280px;
  top:663px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3975 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u3976 {
  position:absolute;
  left:160px;
  top:683px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u3976_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u3976_seg1 {
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3977 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978 {
  position:absolute;
  left:400px;
  top:683px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u3978_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u3978_seg1 {
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3979 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980 {
  position:absolute;
  left:100px;
  top:703px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u3980_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3980_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u3981 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3982 {
  position:absolute;
  left:80px;
  top:909px;
  width:163px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u3984 {
  position:absolute;
  left:40px;
  top:903px;
  width:25px;
  height:33px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3986 {
  position:absolute;
  left:80px;
  top:36px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6699;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u3988 {
  position:absolute;
  left:40px;
  top:30px;
  width:25px;
  height:33px;
}
#u3989 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:2px;
}
#u3990 {
  position:absolute;
  left:40px;
  top:873px;
  width:1167px;
  height:1px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
